description "CGC poller"

start on runlevel [2345]
stop on runlevel [016]

respawn

chdir /home/{{ crs_user }}/

exec su -s /bin/sh -c 'exec "$0" "$@"' {{ crs_user }} -- {{ setup_git_path }}/tools/cgc-poller
